body{
  margin:200px;
  font-family: 'Source Sans Pro', sans-serif;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none; 

}

#nav li {
  float: left; 
}
ul#nav {
margin-left: 200px;
font-size:20px;
}


li#firstInNav {
padding-left: 30px;
}
li{
  padding:10px;
}

header{
  background:black;
  overflow:hidden;
  border-bottom: 4px solid yellow;
}
#beg{
  color:yellow;
  padding-left:20px;
  padding-top:20px;
}
ul{
  color:white;
}
#second{
  background:lightgrey;
  font-style:italic;
  font-size:25px;
  text-align:center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
#taste{
  color:darkgrey;
  text-decoration: line-through;

}
#are{
  border-bottom:1px solid yellow;
}
div.wrapper{
  background:url('../images/coworking.jpg');
  position:relative;
  height:500px;

}

div.transbox{
 width: 268px;
 height: 372px;
 background-color:white;
 opacity:0.8;
 font-size: 20px;
 text-align: left;
 padding: 20px;
 position: absolute;
 top: 30px;
 border:solid black 1px;
 right:40px;
 line-height: 28px;

}
#yellow{
  background:yellow;
  font-size:15px;
}
h3{
  margin-bottom: 5px;
  text-align: left;
}
button{
  font-family: 'Oswald', sans-serif;
  padding:10px;
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;

}
.box{
  float:left;
  font-size:20px;
  width:30%;
  text-align: left;
  padding:15px;
  line-height: 35px;
  height:336px;
}

.grey{
  background: lightgrey;
  padding:5px;
}
button{
  display:block;
  margin:0 auto;
}
.box1, .box3{
  border-left:solid black 1px;
  border-right:solid black 1px;
}

